@page "/"
@namespace TaskManagementWeb.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskManagementWeb</title>
    <link rel="icon" href="images/tasklist_icon.svg" type="image/svg+xml">
    <base href="~/" />
    <link href="css/output.css" rel="stylesheet" /> 
</head>
<body>
    <app>
        <component type="typeof(TaskManagementWeb.Components.App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/confirm.js"></script>
    <script src="js/drag.js"></script>
</body>
</html>